{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="home-info-layout">
        {{- with .image }}
        <div class="home-info-image">
            <img src="{{ . }}" alt="Profile" class="profile-img" />
        </div>
        {{- end }}
        <div class="home-info-text">
            <header class="entry-header">
                <h1>{{ .Title | markdownify }}</h1>
            </header>
            <div class="entry-content md-content">
                {{ $opts := dict "display" "block" }}
                {{ .Content | $.Page.RenderString $opts }}
            </div>
            <footer class="entry-footer">
                {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
            </footer>
        </div>
    </div>
</article>
{{- end -}}
